.card {
    background: white;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgb(0 0 0 / 40%);
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    width: 90vw;
    max-width: 450px;
}

.card h1 {
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}

.card ul {}

.card ul li {}

.btn {
    background: #f28ab2;
    border: none;
    padding: 7px;
    border-radius: 5px;
    color: white;
    letter-spacing: 1px;
    font-size: 1rem;
    font-weight: 100;
    margin-top: 10px;
}

.btn:focus {
    outline: none
}